# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.Python
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
